In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
from urllib.request import urlopen
import re

In [3]:
#Set executable path  
executable_path = {"executable_path": "chromedriver.exe"}

In [4]:
# initialise browser 
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [5]:
# Visit Mars site
url1 = "https://mars.nasa.gov/news/"
browser.visit(url1)

In [6]:
# convert html to browser object
article = {}
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [7]:
# search to find the first title and paragragh paraghaph using div tag
news_title=soup.find("div", class_="content_title").text
news_para=soup.find("div", class_="article_teaser_body").text

In [8]:
#print the results
print(news_title)
print(news_para)

Mars Scientists Investigate Ancient Life in Australia
Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.

### JPL Mars Space Images - Featured Image

In [18]:
# visit url
url2="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)
# Go to 'FULL IMAGE' and click
base_url = 'https://www.jpl.nasa.gov'
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(5)
# Go to 'more info' and click
browser.click_link_by_partial_text('more info')
time.sleep(5)
# Parse HTML with Beautiful Soup
html=browser.html
soup = BeautifulSoup(html, "html.parser")
# Scrape the URL
img_url = soup.select_one('figure.lede a img').get("src") 
print(img_url)
print(base_url)

/spaceimages/images/largesize/PIA23170_hires.jpg
https://www.jpl.nasa.gov

In [19]:
# concat the base url with the result url to get an absolute url
featured_image_url = base_url + img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23170_hires.jpg

### Mars Weather

In [20]:
# visit url
url3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url3)

In [21]:
# parse html with soup
html=browser.html
soup = BeautifulSoup(html, "html.parser")

In [22]:
# find the tweet with text 'Mars Weather'
mars_weather= soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

InSight sol 345 (2019-11-15) low -100.4ºC (-148.6ºF) high -23.9ºC (-11.1ºF)
winds from the SSE at 5.4 m/s (12.0 mph) gusting to 20.2 m/s (45.3 mph)
pressure at 6.80 hPapic.twitter.com/LM9HL7PUX0

### Mars Facts

In [23]:
# Visit url
url4 = "https://space-facts.com/mars/"
browser.visit(url4)

In [24]:
# Parse html with soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [25]:
# create table to real url
fact_table=pd.read_html(url4)
fact_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [26]:
# change column names
mars_facts_df=fact_table[0]
mars_facts_df.columns=['Data Type','Mars']
mars_facts_df

              Data Type                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

# Mars Hemisphere

In [27]:
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url4)

In [28]:
img_urls=[]
# Get a list of all hemisphers
links = browser.find_by_css("a.product-item h3")

# Loop through the links to get to the href
for i in range(len(links)):
    hemisphere={}
    
    browser.find_by_css("a.product-item h3")[i].click()
    
#     Get sample image anchor tag to extract the href
    sample_tag= browser.find_link_by_text('Sample').first
    hemisphere['img_url']=sample_tag['href']
#     Get title
    hemisphere['title']=browser.find_by_css("h2.title").text
#     Append hemisphere details to list
    img_urls.append(hemisphere)
#   Navigate back
    browser.back()

In [29]:
img_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]